# Zero2Print PrintManager Beispiel-Konfiguration

APP_NAME=Zero2Print PrintManager
APP_HOST=0.0.0.0
APP_PORT=8000

# Für lokalen Betrieb auf Raspberry Pi:
BASE_URL=http://zero2print.fritz.box

# Datenordner
DATA_DIR=data

# Hinweis:
# Diese Datei ist nur ein Beispiel.
# Für echte lokale Einstellungen kannst du später eine .env-Datei erstellen.